<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Food Fetch, <%= @user.business_name %>!</h1>
    <p>
      You have successfully signed up to Food Fetchy,
      your username is: <%= @user.business_name %>.<br>
    </p>
    <p>
    To login to the site, just follow this link: <%= @login_url %>.
    </p>
    <p>Thanks for joining and have a food-fetchy day!</p>
  </body>
</html>
